<suite name="Dawak">
    <test name="Dawak Android App Regression">
        <classes>
            <class name="TestDawakApp"/>
        </classes>
    </test>
    <test name="Central Pharmacist Regression">
        <classes>
            <class name="TestDawakCP"/>
        </classes>
    </test>
</suite>