<suite name="Dawak">
    <test name="Dawak Android App Regression">
        <classes>
            <class name="TestDawakApp"/>
        </classes>
    </test>
    <test name="Central Pharmacist Regression">
        <classes>
            <class name="TestDawakCP"/>
        </classes>
    </test>

    <test name="Dawak App COD flow">
        <classes>
            <class name="TestDawakAppCODPaymentFlow"/>
        </classes>
    </test>

    <test name="Dispencing Portal Regression">
    <classes>
        <class name="TestDawakDP"/>
    </classes>
</test>
</suite>